html,
body {
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #f5f5f5;
}

p {
  font-size: 20px;
  margin: 0;
}

span.hl {
  color: #ffee58;
  border-bottom: 1px dotted #ffee58;
}

.sub-header {
  text-align: center;
  margin-bottom: 20px;
}

.sub-header>h5 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #333;
  color: #333;
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
}

.nav {
  position: fixed;
  width: 100%;
  background: none;
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  background: #fff;
  transition: width .2s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.section {
  padding: 70px 20px 30px 20px;
}

@media (max-width: 650px) {
  .section {
    padding-top: 30px;
  }
}

.section h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #333;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  opacity: 0;
  transform: translateY(20px);
  transition: all .3s ease-in-out;
}

.section:first-of-type h1 {
  font-size: 100px;
}

.current h1 {
  opacity: 1;
  transform: translateY(0);
}

.section-1 {
  background-color: #ff6434;
  background: linear-gradient( #ff6434 15%, #ffab00 0, #ffab00 30%, #ffff56 0, #ffff56 45%, #64dd17 0, #64dd17 60%, #00b8d4 0, #00b8d4 75%, #2962ff 0, #2962ff 90%, #6200ea 0, #6200ea 100%);
}

.section-2 {
  background-color: #f57f17;
}

.section-3 {
  background-color: #651fff;
}

.section-4 {
  background-color: #ff7043
}

.section-5 {
  background-color: #4caf50;
}

.section-6 {
  background-color: #0081cb;
}

.section-7 {
  background-color: #6d4c41;
}

.slide {
  padding: 70px 20px 40px 20px;
}

@media (max-width: 650px) {
  .slide {
    padding-top: 30px;
  }
}

.step {
  display: inline-block;
  background: #333;
  border-radius: 2px;
  padding: 10px 20px;
}

#prev {
  position: absolute;
  font-size: 20px;
  left: 100px;
  bottom: 50px;
  z-index: 3;
  cursor: pointer;
}

#next {
  position: absolute;
  font-size: 20px;
  right: 100px;
  bottom: 50px;
  z-index: 3;
  cursor: pointer;
}

.dot {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  text-align: center;
  padding: 0;
  margin: auto;
}

.dot>li {
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  list-style: none;
  cursor: pointer;
}

.dot>li.active,
.dot>li:hover {
  background-color: #fff;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.prev-slide {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  left: 100px;
}

.next-slide {
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  right: 100px;
}

.prev-slide:hover {
  transform: translateY(-50%) rotate(-45deg) scale(1.1);
}

.next-slide:hover {
  transform: translateY(-50%) rotate(45deg) scale(1.1);
}
